# Application
APP_PORT=3006
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=arbidex
DB_PASSWORD=arbidex_pass
DB_NAME=arbidex_db

# JWT
JWT_ACCESS_SECRET=your_access_secret_change_in_production
JWT_REFRESH_SECRET=your_refresh_secret_change_in_production
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# CORS
CORS_ORIGIN=http://localhost:4200

